<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>LearnJavaEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>LearnJavaServlet</display-name>
    <servlet-name>LearnJavaServlet</servlet-name>
    <servlet-class>com.learnjavaee.controler.servlets.LearnJavaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LearnJavaServlet</servlet-name>
    <url-pattern>/learn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccueilServlet</display-name>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>com.learnjavaee.controler.servlets.AccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuteurServlet</display-name>
    <servlet-name>AuteurServlet</servlet-name>
    <servlet-class>com.learnjavaee.controler.servlets.AuteurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuteurServlet</servlet-name>
    <url-pattern>/auteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionServlet</display-name>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>com.learnjavaee.controler.servlets.ConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnvoieFichierServlet</display-name>
    <servlet-name>EnvoieFichierServlet</servlet-name>
    <servlet-class>com.learnjavaee.controler.servlets.EnvoieFichierServlet</servlet-class>
    <multipart-config>
      <location>D:/Learn/Java/JAVAEE/File_server_tampon/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnvoieFichierServlet</servlet-name>
    <url-pattern>/fichier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EtudiantServlet</display-name>
    <servlet-name>EtudiantServlet</servlet-name>
    <servlet-class>com.learnjavaee.controler.servlets.EtudiantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EtudiantServlet</servlet-name>
    <url-pattern>/etudiants</url-pattern>
  </servlet-mapping>
</web-app>